In [1]:
from sklearn import svm 
from sklearn.model_selection import cross_val_score
from sklearn.svm import LinearSVC
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
import pandas as pd
%matplotlib inline

In [2]:
# Create a SQL connection to our SQLite database
con = sqlite3.connect("soccerdata.sqlite")

match =  pd.read_sql_query("SELECT * FROM Match", con)
team =  pd.read_sql_query("SELECT * FROM Team", con)

#Be sure to close the connection.
con.close()

In [3]:
#match data
match = match.loc[match['league_id'] == 1729,] #filter by league
match = match.iloc[:,3:11] #only need first 11 columns
match.index = range(1, len(match["stage"]) + 1)
match["Outcome"] = 0

#rename columns
match.columns = ["Season", "Stage", "Date", "Match_ID", "Home_Team_ID", "Away_Team_ID", "Home_Goals", "Away_Goals", "Outcome"]

In [4]:
#team data
team = team.drop("team_fifa_api_id", 1)

#extract those teams that took part in 
print(team)

        id  team_api_id           team_long_name team_short_name
0        1         9987                 KRC Genk             GEN
1        2         9993             Beerschot AC             BAC
2        3        10000         SV Zulte-Waregem             ZUL
3        4         9994         Sporting Lokeren             LOK
4        5         9984        KSV Cercle Brugge             CEB
5        6         8635           RSC Anderlecht             AND
6        7         9991                 KAA Gent             GEN
7        8         9998                RAEC Mons             MON
8        9         7947            FCV Dender EH             DEN
9       10         9985        Standard de Liège             STL
10      11         8203              KV Mechelen             MEC
11      12         8342           Club Brugge KV             CLB
12      13         9999            KSV Roeselare             ROS
13      14         8571              KV Kortrijk             KOR
14      15         4049                   Tubize             TUB
15      16         9996     Royal Excel Mouscron             MOU
16      17        10001             KVC Westerlo             WES
17      18         9986       Sporting Charleroi             CHA
18     614         9997        Sint-Truidense VV             STT
19    1034         9989                Lierse SK             LIE
20    1042         6351                KAS Eupen             EUP
21    1513         1773      Oud-Heverlee Leuven             O-H
22    2004         8475         Waasland-Beveren             WAA
23    2476         8573              KV Oostende             OOS
24    2510       274581     Royal Excel Mouscron             MOP
25    3457        10260        Manchester United             MUN
26    3458        10261         Newcastle United             NEW
27    3459         9825                  Arsenal             ARS
28    3460         8659     West Bromwich Albion             WBA
29    3461         8472               Sunderland             SUN
..     ...          ...                      ...             ...
269  43053         9906          Atlético Madrid             AMA
270  43054         9864                Málaga CF             MAL
271  43800         9868     Xerez Club Deportivo             XER
272  43803         8394            Real Zaragoza             ZAR
273  43804         9867              CD Tenerife             TEN
274  44557        10278  Hércules Club de Fútbol             HER
275  44565         8581               Levante UD             LEV
276  44569         8560            Real Sociedad             SOC
277  45330         7878               Granada CF             GRA
278  45333         8370           Rayo Vallecano             RAY
279  46087         9910         RC Celta de Vigo             CEL
280  46848        10268                 Elche CF             ELC
281  47605         8372                 SD Eibar             EIB
282  47612         7869               Córdoba CF             COR
283  48358         8306            UD Las Palmas             LAS
284  49115         9956  Grasshopper Club Zürich             GRA
285  49116         6493            AC Bellinzona             BEL
286  49117        10192           BSC Young Boys              YB
287  49118         9931                 FC Basel             BAS
288  49119         9930                 FC Aarau             AAR
289  49120        10179                  FC Sion             SIO
290  49121        10199                FC Luzern             LUZ
291  49122         9824                 FC Vaduz             VAD
292  49123         7955          Neuchâtel Xamax             XAM
293  49124        10243                FC Zürich             ZUR
294  49479        10190            FC St. Gallen             GAL
295  49837        10191                  FC Thun             THU
296  50201         9777              Servette FC             SER
297  50204         7730       FC Lausanne-Sports             LAU
298  51606         7896                   Lugano             LUG

[299 rows x 4 columns]

In [5]:
#create a class variable for "Win", "Lose", "Tie" - WRT home team
for i in range(1, len(match["Outcome"]) + 1):
    home_goals = match.loc[i, "Home_Goals"]
    away_goals = match.loc[i, "Away_Goals"]
    if home_goals > away_goals:
        match.loc[i,'Outcome'] = "Win"
    elif home_goals == away_goals:
        match.loc[i,'Outcome'] = "Tie"
    elif home_goals < away_goals:
        match.loc[i,'Outcome'] = "Lose"

In [6]:
match.head()

,Season,Stage,Date,Match_ID,Home_Team_ID,Away_Team_ID,Home_Goals,Away_Goals,Outcome
1,2008/2009,1,2008-08-17 00:00:00,489042,10260,10261,1,1,Tie
2,2008/2009,1,2008-08-16 00:00:00,489043,9825,8659,1,0,Win
3,2008/2009,1,2008-08-16 00:00:00,489044,8472,8650,0,1,Lose
4,2008/2009,1,2008-08-16 00:00:00,489045,8654,8528,2,1,Win
5,2008/2009,1,2008-08-17 00:00:00,489046,10252,8456,4,2,Win

In [9]:
def getLastXMatchesResults_Home(date, team, x = 10):    
    #Filter team matches from matches
    teamMatches = match[(match['Home_Team_ID'] == team)]                           
    #Filter x last matches from team matches
    xMatches = teamMatches[teamMatches.Date < date].sort_values(by = 'Date', ascending = False).iloc[0:x,:]
    #Calculate win percentage
    won = len(xMatches['Outcome'] == "Win") / 10
    return won

def getLastXMatchesResults_Away(date, team, x = 10):    
    #Filter team matches from matches
    teamMatches = match[(match['Away_Team_ID'] == team)]                           
    #Filter x last matches from team matches
    xMatches = teamMatches[teamMatches.Date < date].sort_values(by = 'Date', ascending = False).iloc[0:x,:]
    #Calculate win percentage
    won = len(xMatches['Outcome'] == "Win") / 10
    return won
    
def getLastXMatchesResultsAgainstEachOther(date, home_team, away_team, x = 10):    
    #Find matches of both teams
    homeMatches = match[(match['Home_Team_ID'] == home_team) & (match['Away_Team_ID'] == away_team)]    
    awayMatches = match[(match['Home_Team_ID'] == away_team) & (match['Away_Team_ID'] == home_team)] 
    #Get last x matches - Home
    try:    
        xMatches = homeMatches[homeMatches.Date < date].sort_values(by = 'Date', ascending = False).iloc[0:x,:]
        homeWin = len(xMatches['Outcome'] == "Win") / 10
    except:
        xMatches = homeMatches[homeMatches.Date < date].sort_values(by = 'Date', ascending = False).iloc[0:homeMatches.shape[0],:]
        homeWin = 0
        #Check for error in data
        if(xMatches.shape[0] > x):
            print("Error in obtaining matches")
    
    #Get last x matches - Away
    try:    
        xMatches = awayMatches[awayMatches.Date < date].sort_values(by = 'Date', ascending = False).iloc[0:x,:]
        awayWin = len(xMatches['Outcome'] == "Win") / 10
    except:
        xMatches = awayMatches[awayMatches.Date < date].sort_values(by = 'Date', ascending = False).iloc[0:awayMatches.shape[0],:]
        awayWin = 0
        #Check for error in data
        if(xMatches.shape[0] > x):
            print("Error in obtaining matches")
    
            
    #Return data
    return np.array([homeWin, awayWin])

In [10]:
#create training set and validation set
#season 2008-09 to 2014-15 will be the training data
#we will predict the outcome of the matches in 2015-16
train = match.loc[match["Season"] != "2015/2016",]
validation = match.loc[match["Season"] == "2015/2016",]

#create columns for last X matches
match["HomeTeamWins_Home"] = 0
match["HomeTeamWins_Away"] = 0
match["AwayTeamWins_Home"] = 0
match["AwayTeamWins_Away"] = 0
match["HomeVsAway_Home"] = 0
match["HomeVsAway_Away"] = 0

for i in range(1, len(match["Match_ID"]) + 1):
    match.loc[i, "HomeTeamWins_Home"] = getLastXMatchesResults_Home(match.loc[i, "Date"],  match.loc[i, "Home_Team_ID"])
    match.loc[i, "HomeTeamWins_Away"] = getLastXMatchesResults_Away(match.loc[i, "Date"],  match.loc[i, "Home_Team_ID"])
    match.loc[i, "AwayTeamWins_Home"] = getLastXMatchesResults_Home(match.loc[i, "Date"],  match.loc[i, "Away_Team_ID"])
    match.loc[i, "AwayTeamWins_Away"] = getLastXMatchesResults_Away(match.loc[i, "Date"],  match.loc[i, "Away_Team_ID"])
    temp =  getLastXMatchesResultsAgainstEachOther(match.loc[i, "Date"],match.loc[i, "Home_Team_ID"],match.loc[i, "Away_Team_ID"])
    match.loc[i, "HomeVsAway_Home"] = temp[0]
    match.loc[i, "HomeVsAway_Away"] = temp[1]

In [ ]:
# fit SVM with polynomial kernel 
clf = svm.SVC(kernel='poly', degree=2, C=10)
clf.fit(train[["Home_Team_ID", "Away_Team_ID", "HomeTeamWins_Home", "HomeTeamWins_Away", "AwayTeamWins_Home", "AwayTeamWins_Away", "HomeVsAway_Home", "HomeVsAway_Away"]], train['Outcome'])

In [ ]:
#predict
validation['prediction'] = clf.predict(validation[["Home_Team_ID", "Away_Team_ID", "HomeTeamWins_Home", "HomeTeamWins_Away", "AwayTeamWins_Home", "AwayTeamWins_Away", "HomeVsAway_Home", "HomeVsAway_Away"]])